<div>
  <div [formGroup]="parentForm">
    <div formArrayName="phones">
      <div *ngFor="let phone of phones; let i = index" class="panel panel-default">
        <div class="panel-heading">
          <span>Phone {{ i + 1 }}</span>
          <i class="glyphicon glyphicon-remove pull-right" *ngIf="phones.length > 1" (click)="removePhone(i)"></i>
        </div>
        <div class="panel-body">

          <app-phone-form [phonesGroup]="parentForm.get('phones')" [phone]="phone"></app-phone-form>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <button type="button" class="btn btn-default btn-sm" (click)="addPhone()">Add Phone</button>
      </div>
    </div>
  </div>
</div>
